body{
    /*background-color:aqua;*/
    #react-app{
        background-color:aqua !important;
    }
}

.logo{
    text-align:center;
    margin: 10px;
}

.top-menu {
    /*float: left;*/
    font-size: 18px;
    line-height: 26px;
    padding: 14px 0 0 0;
    /*margin: 0 0 0 -7px;*/
    .top-menu-nav {
        margin-left: -30px;

        button {
            background-image: url('../images/menu_button.svg');
            background-color: aliceblue;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    a {
        color: #1344b0;
    }

    /*.navbar-nav > li > a {

        &:hover {
            color: #555;
            background: url('../images/top-menu.png') no-repeat left -36px;
            background-repeat: no-repeat;
            background-position: left;
        }
    }*/

    .li {
        float: left;
        height: 36px;
        margin-left: -2px;

        a {
            display: block;
            float: left;
            padding-left: 18px;
            background: url('../images/top-menu.png') no-repeat left -36px;
            height: 36px;
            TEXT-DECORATION: none;
            color: #121fbd;
        }
    }
}

.footer {
    width: 100%;
    height: 58px;
    padding: 10px;
    border-top: 1px solid #e7e7e7;
    background-color: black;
    color: white;

    p {
        margin: 0;
        padding: 0;
    }
}

.container-content {
    min-height: calc(100vh - 130px);

    .big-header-ad {
        border-radius: 15px;
        width: 650px;
        height: 250px;
    }

    .sidebar-header-ad{
        border-radius: 15px;
        width: 300px;
        height: 250px;
    }
}

.main-teaser {
    width: 700px;
}

.layout{
    height:100%;
}

ul.pagination{
    &> li > span {
        cursor: pointer;
    }
}

.tippy-content {
    font-size: 14px;
}

label {
    margin: 5px !important;

    &.required {
        &:after {
            content: '*';
            color: red;
            padding-left: 4px;
            font-size: 18px;
            position: absolute;
        }
    }
}

.navbar-default .navbar-nav > li > a.active { 
    &,
    &:hover, 
    &:focus {
        color: #555;
        background-color: #e7e7e7;
    }    
}

.floatLeft {
    float: left;
}

.announcements {
    padding-bottom: 5px;
    background: url('../images/announcements.png') no-repeat center bottom;
    margin: 25px 35px 36px 13px;


    .rounded {
        max-height: 375px;
        border: #bebebe 1px solid;
        background-color: #fff;
        padding-top: 1px;
        position: relative;
        border-radius: 10px;
        zoom: 1;

        .h2 {
            margin-top: -14px;
            position: relative;
            margin-left: 13px;
            font-size: 19px;
            line-height: 22px;
            color: #000;
            font-family: Trebuchet MS, Arial;
            margin-bottom: 5px;
        }

        .gallery {
            height: 295px;
            width: 620px !important;
            margin: 11px 0 14px 15px;
            overflow: hidden;
            /*float: left;*/
            padding-top: 11px;

            .slick-list {
                margin: 0 10px 0 10px;
            }

            .slick-prev {
                &:before {
                    content: none;
                }

                &:hover {
                    background: url('../images/slidernav.png') 0 100% no-repeat;
                }

                display: block;
                width: 18px;
                height: 38px;
                position: absolute;
                top: 50%;
                left: 0%;
                overflow: hidden;
                margin: -50px 0 0 -2px;
                z-index: 10;
                background: url('../images/slidernav.png') 0 0 no-repeat;
            }

            .slick-next {
                &:before {
                    content: none;
                }

                &:hover {
                    background: url('../images/slidernav.png') 100% 100% no-repeat;
                }

                font-family: none;
                display: block;
                width: 16px;
                height: 38px;
                position: absolute;
                top: 50%;
                left: 99%;
                overflow: hidden;
                margin: -50px 0 0 -9px;
                background: url('../images/slidernav.png') 100% 0 no-repeat;
            }
        }

        .poster {
            &:hover {
                .info-film, .deco {
                    display: block;
                    /*z-index: 100;*/
                }
            }

            img {
                border: #e0e0e0 2px solid;
                color: transparent;
                background: #fff;
            }

            .deco {
                display: none;
                position: absolute;
                top: 0;
                bottom: 2px;
                width: 170px;
                background: url('../images/posterdecor.png');
            }

            .info-film {
                display: none;
                position: relative;
                bottom: 0;
                left: 0;
                right: 0;
                top: -85px;
                padding: 0 5px 0 11px;
                height: 0px;
                /*color: red;*/
                .text-wrapper {
                    display: block;
                    width: 159px;
                    max-height: 45px;
                    overflow: hidden;
                    overflow-wrap: break-word;
                }
            }
        }

        .rating {
            font-size: 13px;
            color: #787878;
            margin-bottom: 4px;
            position: relative;
            padding: 1px 0 0 1px;

            .star {
                padding-left: 17px;
                padding-top: 2px;
                padding-bottom: 2px;
                color: #000;
                background: url('../images/star.png') no-repeat left center;
            }
        }

        .wrap {
            width: 175px;
            margin: 0 auto;

            .buy {
                display: block;
                margin: 0 auto -7px auto;
                clear: both;
                width: 129px;
                height: 30px;
                line-height: 28px;
                text-decoration: none;
                font-size: 13px;
                color: #e04b00;
                font-weight: bold;
                border: 1px solid #bebebe;
                border-radius: 4px;
                overflow: hidden;
                box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
                text-align: center;
                background: #fff;
                position: relative;
                top: -18px;
                z-index: 1000 !important;
            }
        }

        .name-films {
            margin-bottom: 21px;

            .name-films-holder {
                display: block;
                max-height: 45px;
                overflow: hidden;
                padding: 0 0 2px 0;
                overflow-wrap: break-word;
                text-align: center;

                a {
                    TEXT-DECORATION: none;
                    color: #1344b0;
                }
            }
        }
    }

    .white-bg {
        display: inline;
        background-color: #fff;
        padding-left: 5px;
        padding-right: 5px;

        h1 {
            font-size: 19px;
            margin-top: -14px;
            display: inline-block;
        }

        .orang {
            color: #e04b00;
        }
    }

    .navi {
        position: static;
        width: auto;
        height: auto;
        background: none transparent;
        top: 13px;
        left: 50%;
        margin-left: -52px;

        .prev, .next {
            width: 34px;
            height: 280px;
            left: 0;
            top: 37px;
            background: none transparent;
        }

        .prev {
            i {
                display: block;
                width: 18px;
                height: 38px;
                position: absolute;
                top: 50%;
                left: 2%;
                overflow: hidden;
                margin: -50px 0 0 -9px;
                background: url('../images/slidernav.png') 0 0 no-repeat;
            }
        }

        .next {
            i {
                display: block;
                width: 18px;
                height: 38px;
                position: absolute;
                top: 50%;
                left: 97%;
                overflow: hidden;
                margin: -50px 0 0 -9px;
                background: url('../images/slidernav.png') 100% 0 no-repeat;
            }
        }
    }
}

.white-bg {
    display: inline;
}

.poster {
    .poster-img {
        display: block;
        width: 170px;
        height: 226px;
        background-color: #fff;
        transition: all 0.3s ease;
        opacity: 1;
    }
}
